.stays-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stays-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.stay-card {
    height: 400px;
    background-color: rgba(32, 48, 138, 0.188);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(32, 48, 138, 0.46);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.stay-card:hover {
    transform: translateY(-5px);
}

.stay-card h3 {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    background-color: #3a4e84;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stay-card img {
    width: 250px;
    height: 70%;
    object-fit: cover;
}

.stay-card p {
    margin: 10px 15px;
    font-size: 14px;
    color: #333;
}

.stay-card .price {
    font-weight: bold;
    color: #4caf50;
}

.stay-card .likes {
    display: flex;
    align-items: center;
    color: #888;
}

.stay-card .likes::before {
    content: "❤️";
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
.buttons a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #3a4e84;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #1a202c;
}

@media (max-width: 1200px) {
    .stay-card-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    .stay-card-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .stay-card-grid {
        grid-template-columns: 1fr;
    }
}
